<div id="wrapper">
	<div id="columns">
		<% @recipes.each do |recipe| %>
		<div class="pin">
			<img src= <%= recipe.image_ulr %> />
			<p>
				[レシピ] <%= recipe.title %><br />
				[ULR] <%= recipe.ulr %><br />
				[概要] <%= recipe.summary %><br />
				[つくレポ数] <%= recipe.num_tsukurepo %><br />
			</p>
		</div>
		<% end %>
	</div>
</div>
