<div class="preload">
  <p class="center"><%= image_tag("loader.gif", :alt=>"レシピ読み込み中") %><br /></p>
</div>

<script type="text/javascript">
window.onload = function(){
  $(function() {
    $(".preload").fadeOut();
  });
}
</script>

<div id="wrapper">
  <div id="main" role="main">
    <ul id="tiles">
    <% @recipes.each do |recipe| %>
    <li>
      <%= link_to image_tag(recipe.image_ulr), recipe.ulr, :target=>["_blank"] %>
      <p>
        <%= recipe.title %><br />
        [レシポイント] <%= recipe.num_tsukurepo %><br />
      </p>
    </li>
    <% end %>
    </ul>
  </div>
</div>

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "application" %>
<%= yield(:page_javascript) if content_for?(:page_javascript) %>

<!-- Once the page is loaded, initalize the plug-in. -->
<script type="text/javascript">
  (function ($) {
    var loadedImages = 0, // Counter for loaded images
        handler = $('#tiles li'); // Get a reference to your grid items.
    // Prepare layout options.
    var options = {
      autoResize: true, // This will auto-update the layout when the browser window is resized.
      container: $('#main'), // Optional, used for some extra CSS styling
      offset: 5, // Optional, the distance between grid items
      outerOffset: 10, // Optional, the distance to the containers border
      itemWidth: 210 // Optional, the width of a grid item
    };

    $('#tiles').imagesLoaded(function() {
      // Call the layout function.
      handler.wookmark(options);
    }).progress(function(instance, image) {
      // Update progress bar after each image load
      loadedImages++;
      if (loadedImages == handler.length)
        $('.progress-bar').hide();
      else
        $('.progress-bar').width((loadedImages / handler.length * 100) + '%');
    });
  })(jQuery);
</script>